


.login-container {
    /* background: linear-gradient(to right, #005CA9, #54BBAB); */
    background: linear-gradient(to right, #0900A9, #54BBAB);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-heading {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.login-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-input {
    width: 100%;
    border: 1px solid !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.login-button {

    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login-button-filled {
    color: #ffffff !important;
    font-size: 16px !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    border: none !important;
    cursor: pointer !important;
    background-color: rgba(30, 30, 30) !important;

}


.login-button:hover {
    background-color: #34495e;
}